<div class="container">

    <h1>Criar produtos</h1>
<form action="/products/create" method="POST">
    <div class="form-control">
        <label for="name">Nome do producto:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="image">Imagen do producto:</label>
        <input type="text" name="image" placeholder="Image...">
    </div>
     <div class="form-control">
        <label for="price">Preço do producto:</label>
        <input type="text" name="price" placeholder="Digite o preço do produto">
    </div>
     <div class="form-control">
        <label for="name">Descrição do producto:</label>
        <textarea name="description" placeholder="Descirçõa do produto"></textarea>
    </div>
    <input type="submit" value="Cadastrar" class="btn">
</form>

</div>